div {
  display: block;
  text-align: center;
  padding-top: 120px;
}

#logo {
  text-align:center;
}

img {
  height: 92px;
  width: 272px;
  }

p {
  font-family: cursive;
  font-size: 20px;
  color: green;
  text-align: right;
}

.random {
  color: red;
}

.link {
  text-decoration:none;
  font-family: sans-serif;
  font-size: 13px;
  color: grey;
}
.top {
  /*display: inline-block;*/
  text-align: right;
  padding-top: 20px;
}

#first {
padding-right: 10px;
}

#search, #input, #sjc {
  padding-top: 10px;
  color: grey;
  opacity: 2%;
  float: inherit;
}

#input {
  width: 400px;
  height: 36px;
}

#search {
  height: 36px;
  width: 400px;
  border: 1px solid black;
  position: absolute;
}

#sjc {
  text-align: left;
}
